@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@300;400;500;700&family=Taviraj:wght@200;300;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    font-family: 'Poppins', sans-serif; 
}

.full_bg{
    background-image: url(img/banner3.jpg);
    
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
    position: relative;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

   
}
.rgba{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;

}
.header_top{
    background-color: #111;
    padding-bottom: 30px;
}
.icondive{
    font-size: 30px;
}
.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.nav-link:hover {
    background-color:  #fe9901 !important;
    border-radius: 8px;
    padding: 15PX;
    transition: ease-in all .4s;
}

/* carousel........... */

.build_box {
    text-align: left;
    margin-top: 100px;
    
}
.build_box p {
    
}
.build_box h1{
    font-family: 'Poppins', sans-serif;
    
    
}
.carousel-control-prev,
.carousel-control-next{
    width: 60px !important;
    height: 60px !important;
    background-color: #111 !important;
    border-radius: 50% !important;
    
    /* top: calc(50% -25); */
}
/* .carousel-control-prev{
   right: 0!important;
}
.carousel-control-next{
    right: 0 !important;
} */
.carousel-control-prev:hover,
.carousel-control-prev:active {
    background-color:  #fe9901 !important;/* red */
    transition: ease-in all .4s;
}
.carousel-control-next:hover{

    background-color:  #fe9901 !important;
    transition: ease-in all .4s;
}
.carousel-control-next, .carousel-control-prev{
    bottom: 0 !important;
}
 .carousel-control-prev {
    left: 5%;
    bottom: 0;
  } 
  .carousel-control-next {
    right: 5%;
  }
  .carousel-control-prev {
    bottom: 0 !important;
}


.const{
    align-items: center;
    background-color: #ffffff ;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.36);
    transition: ease-in all .5s;
    width: 100%;
    height: 200px;
    
    
}
/* .const span {
    transition: ease-in all .5s;
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Raleway,sans-serif;
    color: #090a0b;
    padding-top: 35px;
    line-height: 20px;
} */
.const:hover{
    background-color:  #fe9901 !important;
    color: aliceblue;
}


.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
about_img {
    padding-right: 40px;
    padding-left: 55px;
}

.home-demo .item {
    background: #ff3f4d;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
/* review............... */
.choose{
    background: url(img/choose_bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat ;
    padding: 60px 0;
    margin-top: 90px;
}
.titlepage h2{
    font-size: 40px;
    color: #111;
    line-height: 40px;
    font-weight: 700;
    padding: 0;
}
.titlepage p{
    font-weight: 400;
    font-family: Raleway,sans-serif !important;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 50px;
    padding-top: 18px;
}
.awards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.award_icon{
    width: 30%;
}
.award_icon i{
     background-color: rgb(255, 255, 255);
     transition: ease-in all .5s;
     width: 147px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     display: inline-flex;
     margin: 0 auto;
}
.award_icon:hover{
    background-color:  #fe9901 !important;
    color: aliceblue;
}

/* staff.................... */

.staff_main{

    background-color: #FFF;
    padding-top: 90px;
}
.container_Staff{
    max-width: 1340px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.titlepage{
    text-align: center;
    padding-bottom: 40px;
}
.staff{
    text-align: center;
}  
.man{
    background-color: #fff;
    box-shadow: 0 0 250px rgb(3 3 3 / 15%);
    margin: 0 25px;
    padding-top: 50px !important;
    padding: 0 15px;
}
.man img{
    width: 60%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.social_icon_main{
     background-color: #fe9901;
     border-radius: 5px;
     padding: 15px;
}
.social_icon_main h4{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
}